// @use '../../Styles/index' as *;
// @use '../../Styles/mixins' as *;
// @use '../../Styles/variables' as *;
// .header {
//     background-color: $primary-color;
//     padding: 20px;
    
//     &__nav {
//       @include flex-center;
//       list-style: none;
      
//       &__item {
//         margin: 0 15px;
        
//         &__link {
//           color: white;
//           text-decoration: none;
          
//           &:hover {
//             text-decoration: underline;
//           }
//         }
//       }
//     }
//   }
.header {
  width: 100%;
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
