
// h3{
//   color: wheat;
// }
// .gallery {
//   // display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 20px;
//   margin: 2px;
//     overflow: hidden;

// }

// .gallery-content {
//   width: auto;
//   display: flex;
//   // justify-content: center;
//   // align-items: center;
//   overflow: scroll;
//   overflow-y: hidden;
//   // white-space: nowrap;
//   padding: 2px;
  
//   // -webkit-overflow-scrolling: touch;

//   // &::-webkit-scrollbar {
//   //   display: none;
//   // }
// }

// .gallery-item {
//   flex: 0 0 auto;
//   margin: 20px;
//   cursor: pointer;
//   transition: transform 0.3s ease-in-out;

//   img {
//     max-height: 400px;
//     width: auto;
//     object-fit: cover;
//     border-radius: 10px;
//   }

//   &.enlarged {
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%) scale(1.5);
//     z-index: 10;
//     background: rgba(0, 0, 0, 0.8);
//     padding: 10px;
//     border-radius: 10px;
//   }
// }

h3 {
  color: wheat;
}

.gallery {
  padding: 20px;
  margin: 2px;
  overflow: hidden;
}

.gallery-content {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 2px;
  scroll-behavior: smooth;

  // &::-webkit-scrollbar {
  //   display: none; // hides scrollbar in webkit browsers
  // }
}

.gallery-item {
  flex: 0 0 auto;
  margin: 10px;

  img {
    max-height: 400px;
    width: auto;
    object-fit: cover;
    border-radius: 10px;
  }
}
