@use "../../styles/index" as *;
.section {
    padding: 60px 20px;
    font-size: 1.2rem;
    color: #fcf2f2;
    &--home {
      background-color: #f0f0f0;
    }
    
    // &--about,
    // &--shows,
    // &--tickets,
    // &--gallery,
    // &--news,
    // &--contact,
    // &--support {
    //   background-color: #fff;
    // }
    
    &__title {
      font-size: 2rem;
      margin-bottom: 20px;
    }
    
    &__content {
      font-size: 1rem;
    }
  }
  