
.footer{
    background-color: #f8f9fa; // Change this to your preferred background color
    padding: 10px 20px; // Adjust padding as needed
  
    .footer_container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: rgb(0,212,255);
      background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(66,6,6,1) 86%, rgba(2,0,36,1) 100%);
    }
  

  }
  